@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kaushan+Script&display=swap');
/* CSS reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
    background-color: peachpuff;
    font-family: "Bree Serif", serif;
    color: #2B3A55;
}
#my-avatar {
	width: 150px;
	border-radius: 10%;
}
#content {
	text-align: center;
}
#my-name {
	font-family: 'Kaushan Script', cursive;
	color: #863A6F;
}